.form-control:focus,
.form-select:focus,
.input-group-text:focus {
	/* box-shadow: none; */
	/* box-shadow:3px #005169; */
	box-shadow: 0px 0px 0px 1px #003246;
	/* border: 1px solid #003246; */
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.form-check-input:focus {
	/* box-shadow: none; */
	/* box-shadow:3px #005169; */
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.has-search .form-control {
	padding-left: 2.375rem;
}
.btn-close:focus,
.btn:focus {
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
input[type="checkbox"] {
	transform: scale(1.1);
}
@font-face {
	font-family: 'TimesNewRoman';
	src: url(/font/timesNewRoman.ttf);
}
@font-face {
	font-family: 'KhmerOSBattambang';
	src: url(/font/KhmerOSbattambang.ttf);
}
@font-face {
	font-family: 'KhmerOSMuolLight';
	src: url(/font/KhmerOSMoulLight.ttf);
}
@font-face {
	font-family: 'KhmerOSMuol';
	src: url(/font/KhmerOSmuol.ttf);
}
* {
	font-family: 'KhmerOSBattambang', 'KhmerOSMuol',
		'Kantumruy Pro';
}

/* body {
	font-family: 'Khmer OS Battambang', 'Khmer OS Muol', 'Khmer OS Muol Light', 'Kantumruy Pro';
	font-size: 16px;
} */

.kh_font_muol_light {
	font-family: 'KhmerOSMuolLight';
}
.kh_font_muol {
	font-family: 'KhmerOSMuol';
}
.kh_font_battambang {
	font-family: 'KhmerOSBattambang';
}
.en_font_times_new_roman {
	font-family: 'TimesNewRoman';
}


.note-editor .dropdown-toggle::after {
	all: unset;
}
.note-editor .note-dropdown-menu {
	box-sizing: content-box;
}
.note-editor .note-modal-footer {
	box-sizing: content-box;
}
/* tbody {
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
}
thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
} */
td {
	vertical-align: middle;
}


/* @ scrollbar  */
/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.ck-powered-by {
	display: none;
}

.separator {
	display: flex;
	align-items: center;
	text-align: center;
}

.separator::before,
.separator::after {
	content: '';
	flex: 1;
	border-bottom: 2px solid blue;
}

